.navigation {
  background-color: #53381f;
  padding: 1rem 2rem;
  display: flex;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 20px auto;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-around;
}

.nav-list li a {
  color: #4a3b2d;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #d8d2cc;
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.nav-list li a:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background-color: #e6e0da;
}
